.eunit
deps
*.o
*.beam
*.plt
erl_crash.dump
ebin
rel/example_project
.concrete/DEV_MODE
.rebar
.rebar3
_build
_checkout
compile_commands.json
rebar3
edoc
doc/*
!doc/style.css
!doc/overview.edoc
!doc/img
!doc/img/*
!doc/img/logo.png
*.lock
.vscode
