%%-*- mode: erlang -*-

{require_min_otp_vsn, "19"}.

{erl_opts, [
  {parse_transform, lager_transform}
 ]
}.

{deps,
 [
  {lager, "3.2.1"},
  {zotonic_stdlib, "1.0.0-alpha2"},

  {mochiweb, {git, "git://github.com/zotonic/mochiweb.git", {branch, "master"}}},
  {parse_trans, {git, "git://github.com/uwiger/parse_trans.git", {tag, "3.0"}}},
  {sendfile, {git, "git://github.com/tuncer/sendfile.git", {branch, "master"}}},
  {cowlib, {git,"https://github.com/ninenines/cowlib.git", {branch, "master"}}},
  {ranch, {git, "https://github.com/ninenines/ranch.git", {branch, "master"}}},
  {cowboy, {git, "git://github.com/ninenines/cowboy.git", {tag, "2.0.0-pre.10"}}}
 ]}.

{xref_checks, [undefined_function_calls,
               locals_not_used,
               deprecated_function_calls]}.
