%%-*- mode: erlang -*-

{require_min_otp_vsn, "18"}.

{erl_opts, [
  {parse_transform, lager_transform}
 ]
}.

{deps,
 [
  {lager, "3.2.1"},

  {mochiweb, ".*", {git, "git://github.com/zotonic/mochiweb.git", {branch, "master"}}},
  {z_stdlib, ".*", {git, "git://github.com/zotonic/z_stdlib.git", {branch, "master"}}},
  {parse_trans, ".*", {git, "git://github.com/uwiger/parse_trans.git", {tag, "3.0"}}},
  {sendfile, ".*", {git, "git://github.com/tuncer/sendfile.git", {branch, "master"}}},
  {ranch, ".*", {git, "https://github.com/ninenines/ranch.git", {branch, "master"}}},
  {cowboy, ".*", {git, "git://github.com/ninenines/cowboy.git", {branch, "master"}}}
 ]}.

{xref_checks, [undefined_function_calls,
               locals_not_used,
               deprecated_function_calls]}.
