%%-*- mode: erlang -*-

{require_min_otp_vsn, "22.3"}.

{project_plugins, [rebar3_hex, rebar3_ex_doc]}.

{deps, [
    {zotonic_stdlib, "~> 1.6"},
    {cowboy, "2.9.0"}
]}.

{profiles, [
    {test, [
        {xref_checks, [
            undefined_function_calls,
            locals_not_used,
            deprecated_function_calls
        ]},

        {xref_ignores, [
        ]},
		{plugins, [
            rebar3_proper
        ]},
		{deps, [{proper,"1.4.0"}]}
    ]},
	{edoc_private, [
		{edoc_opts, [
			{private, true}
		]}
	]},
	{check, [
	    {dialyzer, [
          {warnings, [
              no_return
          ]}
        ]},
		
		{erl_opts, [
			debug_info
		]}
	]
	}
]}.


{edoc_opts, [
    {preprocess, true}, {stylesheet, "style.css"}
]}.

{hex, [
    {doc, #{provider => ex_doc}}
]}.

{ex_doc, [
    {extras, [
          {"README.md", #{title => "Overview"}},
          {"LICENSE", #{title => "License"}}
    ]},
    {main, "README.md"},
    {source_url, "https://github.com/zotonic/cowmachine"},
    {assets, "assets"},
    {api_reference, true}
]}.