{erl_opts, [debug_info]}.
{plugins, [
    rebar3_path_deps,
    {rebar3_erlydtl_plugin, "0.1.1"}
]}.

{deps, [
    {cowmachine, {path,"../.."}},
    {erlydtl, "0.14.0"}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [main]}
]}.

{provider_hooks,[
    {pre, [{compile, {erlydtl, compile}}]}
]}.